.hero {
    background-image: url('../public/images/duha.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content {
    display: grid;
    width: 80%;
    min-height: 500px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.hero-oblacik {
    display: flex;
    padding-top: 100px;
    align-items: center;
    gap: 20px;
}

.oblacik {
    width: 200px;
    height: fit-content;
}

.oblacik-pravo {
    transform: scaleX(-1);
}

.hero-text {
    color: rgb(255, 182, 36);
    font-size: 70px;
    -webkit-text-stroke: 2px white;
    font-family: "Modak";
    text-align: center;
    line-height: 35px;
}

.o-mne {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 10;
    background-color: rgb(255, 163, 71);
    border-radius: 10px;
    padding: 30px;
    color: white;
}

.kajkss-citaty {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: rgb(255, 163, 71);
    border-radius: 10px;
    padding: 30px;
    color: white;


}

.section-title {
    font-size: 24px;
    font-family: "Alkalami";
}

.pk-zoznam {
    font-family: "Alkalami";
    margin-left: 24px;
    list-style: "🐢 ";
    list-style-position: outside;
    line-height: 1.75rem;
}
